html, body {
    cursor: none;
}
body{
    height: 58.59rem;
    background: #0c001f;
    
    justify-content: center;
    align-items: center;
    cursor: none;
}
body::before{

    content: "";
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-image: linear-gradient(rgba(127, 104, 163, 0.6),
    rgba(11, 0, 27, 0.6)),
    url("../images/FondoBuy.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.8) blur(1px) ;
    z-index: -1;
}

.header{
    background-color: #4c00ff; 
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    cursor: none;
  }
.header a{ 
    font-family: poppins, sans-serif;
    color: white;
    text-decoration: none;
}
.logo{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: none;
}
/* Impide la aparicion del mouse en el logo*/
.logo a{
    cursor: none;
}
/*logo*/
.logoimg{
    width: 220px;
    height: auto;
    margin-left: 2rem;
    cursor: none;
}
.logoimg:hover{
    cursor: none;
    transition: all 0.1s linear;
    transform: scale(1.1);
}


/*
.logo{ 
    letter-spacing: 1px;
    font-size: 1.3em;
}*/
/* lista*/
.botones ul{
    margin: 5 px;
    padding:0;
    list-style: none;
    display: flex;  
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.botones ul li{
display:inline-block;
padding-right: 1.5rem ;
}
.botones ul li a{
    display: block;
    padding:0.2rem 1rem ;
    transition: all 0.2s linear;
    border-radius: 10px;
    cursor: none;
    color: white;
}
/* efecto hover */
.botones ul li a:hover{
    
    background:#fdffff;
    cursor: none;
    transform: scale(1.2);
    color: #4c00ff;
}


/*    mouse    */
.mouse{ 
    
    z-index: 999;
    position: fixed;
    background: #63c6ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px #aacefd,
                0 0 20px #b6d6ff ,
                0 0 30px #ffffff;
    transform: translate(-40%, -40%);
                /* animacion de colores
    animation: color 5s infinite;*/
    }  
/*
 animacion color, no se ve tan bien pero no lo quito por si acaso

@keyframes color{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{ 
        filter: hue-rotate(360deg);
    }
}*/
.mouse::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.01;
    border-radius: 50%;
    background: #63c6ff;
    transform: translate(-30%, -30%);
}

.Producto{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -40%);
    height: 500px;
    width: 1500px;

    background: linear-gradient(#ac88ff,
    rgba(76, 66, 167, 0.137));
    /*backdrop-filter: blur(15px);difuminado*/
    border:2px solid #4c00ff8e;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease-in-out;

    
}
.Producto h1{
     color: white;
     text-align: left;
     font-family: poppins, sans-serif;
     margin-top: 25px;
     margin-left: 20px;
}
.catalogo-container h1{
     color: white;
     text-align: right;
     font-family: poppins, sans-serif;
     margin-top: 9px;
     margin-left: 25px;
     margin-right: 150px;
    
}

.Producto form{
    padding: 0 30px;
    box-sizing: border-box;
}
form .username{
    position:relative;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
    width:35%;
}

.username input{
    width: 100%;
    height:20px;
    padding: 0 5px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
    font-family: poppins, sans-serif;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 16px;
    pointer-events: none;
    transition:.5s;
    font-family: poppins, sans-serif;
    /*transition: all 0.2s ease-in-out;*/
}
.username span::before{

    font-family: poppins, sans-serif;
    content: "";
    position: absolute;
    top:40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #aa8eeb;
}
.username input{
    color:white;
  
}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -8px;
    font-size: 14px;
    
    color: #ffffff;
    
}
input[type="checkbox"] {
  transform: scale(1.5);  
  
  accent-color: #63c6ff; 
  margin-right: 10px;    
  margin-bottom: 20px;
  cursor:none;
}
.autorizar{
    color: #ffffff;
    font-size: 20px;
    pointer-events: none;
    font-weight: none;
    font-family: poppins, sans-serif;
   
 }

input[type="submit"]{
   
    width: 60%;
    height: 50px;
    border:1px solid #ffffff;
    background:white;
    border-radius: 25px;
    color: #4c00ff;
    font-size: 18px;
    cursor:none;
    outline:none;
  
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-family: poppins, sans-serif;
    
}

input[type="submit"]:hover{
    background: #4c00ff;
    color: white;
    transition: all 0.1s ease-in-out;

    transform: scale(1.1);
}


.catalogo-container {
  
  margin: -425px 0;
}


.catalogo {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;
  margin-right: 120px;
}

.catalogo img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  border: 2px solid white;
}

.catalogo button {
  font-size: 2rem;
  background: white;
  color: #4c00ff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  cursor:none;
}

.catalogo button:hover {
  background: #4c00ff;
  color: white;
  transition: all 0.1s linear;
  transform: scale(1.2);
  cursor: none;
}

#modelo-nombre{
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 280px;
}
#modelo-precio{
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 300px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%) translateY(20px);
  }
  65% {
    opacity: 1;
    transform: translate(-50%, -40%) translateY(0) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) translateY(0) scale(1);
  }
}


.metodo-formulario{
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); /* Centra el elemento */
    
    background: #4c00ff;
    padding: 20px;

    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px #000000;
    cursor: none;
}
.metodo{
    border-bottom: 2px solid #ffffff;
    margin: 30px ;
    width:70%;
}

.metodo label{
    position: absolute;

    transform: translateY(-90%);
    margin-bottom: 5px;
    
    color: #ffffff;
    font-size: 16px;
    pointer-events: none;
    transition:.5s;
    font-family: poppins, sans-serif;
    cursor: none;
    /*transition: all 0.2s ease-in-out;*/
    
}
.metodo input{
    width: 100%;
    height:20px;
    padding: 0 5px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
    font-family: poppins, sans-serif;
    cursor: none;
 
}

.metodo span::before{

    font-family: poppins, sans-serif;
    content: "";
    position: absolute;
    top:-40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #aa8eeb;
    cursor: none;
}
.metodo input{
    color:white;
    font-size: 15px;
  cursor: none;
}

.metodo input:focus ~ label,
.metodo input:valid ~ label{
    margin-top: -20px;
    font-size: 14px;
    cursor: none;
    color: #ffffff;
    
}
.metodo-formulario input[type="text"]{
    cursor: none;
}
.metodo-pago{
    cursor: none;
    color: #ffffff;
    background-color: #4c00ff;
    border: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 6%;
}
.metodo-pago:hover{
    background-color: #ffffff;
    color: #4c00ff;
    transition: all 0.1s linear;
    transform: scale(1.1);
}
.yapetext{
    cursor: none;
    color: #ffffff;
    font-size: 15px;
    font-family: poppins, sans-serif;
}
.paypaltxt{
    cursor: none;
    color: #ffffff;
    font-size: 15px;
    font-family: poppins, sans-serif;
}
.paypalinp{
    cursor: none;
    color: #ffffff;
    font-size: 15px;
    font-family: poppins, sans-serif;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}